<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <link href="https://api.fonts.coollabs.io/css2?family=Amulya&family=Plus+Jakarta+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        {% unless page.url == "/" %}
        <a href="/">home</a>
        {% endunless %}
        <a href="/essays">essays</a>
        <a href="/about">about</a>
    </nav>
    
    <div class="container">
        <div class="grid-layout">
            <div class="content-wrapper">
                <div>
                    {{ content }}
                </div>
            </div>
        </div>
    </div>
</body>
</html>